 <nav aria-label="Breadcrumbs" class="container breadcrumbs">
      <ol class="breadcrumbs__list" role="list">
            <li class="breadcrumbs__item"><a class="breadcrumbs__page" href="/home">Home</a></li>
            <li class="breadcrumbs__item"><a class="breadcrumbs__page" href="/women">Women</a></li>
            <li class="breadcrumbs__item"><span aria-current="page"
              class="breadcrumbs__page breadcrumbs__page--current">Whiteunisex t-shirt</span>
            </li>
      </ol>
</nav>