/* === Button === */
.button {
  display: block;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.062rem;
  padding: 1rem 1.25rem;
  min-width: 100%;
  text-align: center;
  text-transform: uppercase;
  transition: background 0.3s ease-out;
}

.button:hover {
  color: var(--text-color-5);
  background: var(--background-color-2);
}

button:disabled,
button[disabled] {
  border: 1px solid var(--pallete-manatee);
  background-color: var(--pallete-manatee);
  color: var(--text-color-1);
  cursor: not-allowed;
}

.button:disabled:hover,
.button:disabled:active,
.button[disabled]:hover,
.button[disabled]:active {
  background-color: var(--pallete-manatee);
  color: var(--text-color-1);
}

.button--primary {
  color: inherit;
  background: var(--background-color-3);
  border: 0.062rem solid var(--border-color-1);
}

.button--secondary {
  color: var(--text-color-5);
  background: var(--background-color-1);
}

/* === / Button === */
