/* === quantity == */

.quantity {
  border: none;
}

.quantity__legend,
.size__legend,
.color__legend {
  font-weight: 500;
  margin-bottom: 0.75rem;
}

.quantity__controls {
  display: flex;
}

.quantity__button {
  position: relative;
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: 0.062rem solid var(--border-color-1);
  background: var(--background-color-3);
  color: var(--text-color-3);
  transition: all 0.3s ease-out;
}

.quantity__button::before,
.quantity__button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.625rem;
  height: 0.0625rem;
  margin-top: -0.031rem;
  margin-left: -0.312rem;
  background: currentcolor;
}

.quantity__button:hover {
  background: var(--background-color-3);
  color: var(--text-color-3);
  border: 0.062rem solid var(--border-color-2);
}

.quantity__input {
  min-width: 2.5rem;
  min-height: 2.5rem;
  padding: 0.3rem;
  flex-grow: 1;
  border-color: transparent;
  border-top: 0.062rem solid var(--border-color-1);
  border-bottom: 0.062rem solid var(--border-color-1);
  background: var(--background-color-3);
  color: var(--text-color-1);
  text-align: center;
  font-size: 1.125rem;
  transition: all 0.3s ease-out;
}

.quantity__input:hover {
  border-color: var(---border-color-2);
  border-left: 0.062rem solid var(--border-color-2);
  border-right: 0.062rem solid var(--border-color-2);
}

.quantity__input::-webkit-inner-spin-button,
.quantity__input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.quantity__button--decrease {
  order: -1;
}

.quantity__button--increase::after {
  transform: rotate(90deg);
}
