<!DOCTYPE html>
<html>
  <head>
    {{ content_for_header }}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Unisex T-Shirt">
    {{'index.css' | asset_url | stylesheet_tag }}
  </head>

  <body>
   {% section 'alternate-header' %}
   {% render 'alternate-breadcrumbs' %}
   {{content_for_layout}}
   {% section 'alternate-footer' %}
  </body>
 </html>