{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% liquid
   assign collectionProducts = section.settings.collection.products 
   assign limit = section.settings.limit_items 
   assign collectionTitle =  section.settings.title
%}

<section class="products">
        <div class="container">
            {% unless collectionTitle == blank %}
              <h2 class="products__heading">{{collectionTitle}}</h2> 
            {% endunless %}
            {% if collectionProducts.size > 0 %}
              <ul class="products__list" role="list">
                {% for product in collectionProducts %}
                  {% if forloop.index <= limit %}
                    <li class="products__item">
                      {% render 'alternate-product-card' with product as productItem %}   
                    </li>
                  {% endif %}
                {% endfor %} 
              </ul>
            {% endif %}
        </div>
</section>

{% schema %}
  {
    "name": "Recommendations",
    "settings": [
      {
        "id": "title",
        "type":"text",
        "label":"Heading"
      },
      {
        "id":"collection",
        "type":"collection",
        "label":"Collection"
      },
      {
        "id":"limit_items",
        "type":"range",
        "min": 3,
        "max": 6,
        "step": 1,
        "label": "Limit",
        "default": 3
      }
    ],
    "presets": [
      {
        "name": "Recommendations",
         "settings": {
           "title": "Test" 
         }
      }
    ]
  }
{% endschema %}